<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <main>
        <elegir-ganador :listado="personas"></elegir-ganador>
        <pre>{{ $data }}</pre>
    </main>

    <template id="elegirGanadorTemplate">
        <div>
            <template v-if="!ganador">
                <h1>Participantes</h1>
                <ul>
                    <li v-for="persona in listado">{{ persona }}</li>
                </ul>
            </template>
            <h1 v-else>El ganador es {{ ganador }}</h1>
            <button @click="elegirGanador">Elegir Ganador</button>
        </div>
    </template>

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>

</html>